<a href="https://colab.research.google.com/github/Krishnagzp/Krishnagzp/blob/main/ML.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [86]:
import pandas as pd
from sklearn.metrics import mean_absolute_error
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor

In [96]:
train_file='/content/train.csv'
home_data=pd.read_csv(train_file)

In [88]:
home_data.columns

Index(['Id', 'MSSubClass', 'MSZoning', 'LotFrontage', 'LotArea', 'Street',
       'Alley', 'LotShape', 'LandContour', 'Utilities', 'LotConfig',
       'LandSlope', 'Neighborhood', 'Condition1', 'Condition2', 'BldgType',
       'HouseStyle', 'OverallQual', 'OverallCond', 'YearBuilt', 'YearRemodAdd',
       'RoofStyle', 'RoofMatl', 'Exterior1st', 'Exterior2nd', 'MasVnrType',
       'MasVnrArea', 'ExterQual', 'ExterCond', 'Foundation', 'BsmtQual',
       'BsmtCond', 'BsmtExposure', 'BsmtFinType1', 'BsmtFinSF1',
       'BsmtFinType2', 'BsmtFinSF2', 'BsmtUnfSF', 'TotalBsmtSF', 'Heating',
       'HeatingQC', 'CentralAir', 'Electrical', '1stFlrSF', '2ndFlrSF',
       'LowQualFinSF', 'GrLivArea', 'BsmtFullBath', 'BsmtHalfBath', 'FullBath',
       'HalfBath', 'BedroomAbvGr', 'KitchenAbvGr', 'KitchenQual',
       'TotRmsAbvGrd', 'Functional', 'Fireplaces', 'FireplaceQu', 'GarageType',
       'GarageYrBlt', 'GarageFinish', 'GarageCars', 'GarageArea', 'GarageQual',
       'GarageCond', 'PavedDrive', 'WoodDeckSF', 'OpenPorchSF',
       'EnclosedPorch', '3SsnPorch', 'ScreenPorch', 'PoolArea', 'PoolQC',
       'Fence', 'MiscFeature', 'MiscVal', 'MoSold', 'YrSold', 'SaleType',
       'SaleCondition', 'SalePrice'],
      dtype='object')

In [97]:
y=home_data.SalePrice
data_features=['LotArea','YearBuilt','1stFlrSF','2ndFlrSF','FullBath','BedroomAbvGr','TotRmsAbvGrd']
X=home_data[data_features]

In [98]:

for max_leaf_nodes in range(72,73):
  train_X , val_X, train_y, val_y =train_test_split(X , y ,random_state=1)
  data_model=RandomForestRegressor(max_leaf_nodes,random_state=1)
  data_model.fit(train_X,train_y)
  val_predict=data_model.predict(val_X)
  mea=mean_absolute_error(val_y,val_predict)
  print("Leaf Node.                   ", max_leaf_nodes)
  print("Validation mea for Random Forest Model :{:,.0f}".format(mea))

Leaf Node.                    72
Validation mea for Random Forest Model :21,702

In [90]:
train_X , val_X, train_y, val_y =train_test_split(X , y ,random_state=1)
data_model=RandomForestRegressor(random_state=1)
data_model.fit(train_X,train_y)
val_predict=data_model.predict(val_X)
mea=mean_absolute_error(val_y,val_predict)
#print("Leaf Node.                   ", max_leaf_nodes)
print("Validation mea for Random Forest Model :{:,.0f}".format(mea))

Validation mea for Random Forest Model :21,857

In [91]:
mea=mean_absolute_error(val_y,val_predict)
print("Validation mea for Random Forest Model :{:,.0f}".format(mea))

Validation mea for Random Forest Model :21,857

In [99]:
test_file='/content/test.csv'
test_data=pd.read_csv(test_file)
test_X=test_data[data_features]
test_pred=data_model.predict(test_X)

In [100]:
Output=pd.DataFrame({'Id':test_data.Id, 'SalePrice':test_pred})
Output.to_csv('submission1.csv',index=False)

In [101]:
submission_file='/content/submission1.csv'
submission_data=pd.read_csv(submission_file)

In [102]:
submission_data

        Id      SalePrice
0     1461  113484.722222
1     1462  152220.833333
2     1463  184477.777778
3     1464  180623.611111
4     1465  183115.138889
...    ...            ...
1454  2915   81555.555556
1455  2916   81857.638889
1456  2917  158880.444444
1457  2918  139194.444444
1458  2919  226126.250000

[1459 rows x 2 columns]